.container{
    display: grid;
    width: 96%;
    margin: 0 auto;
    grid-gap: 1rem;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: auto;
}

@media screen and (max-width: $small-desktop) {
    .container{
        width: 94%;
        grid-template-columns: 0.5fr 3.5fr 2.5fr;
    }    
}

@media screen and (max-width: $small-devices) {
    .container{
        width: 100%;
        grid-template-columns: 1fr;
    }
}